__pycache__/
*.pyc
.venv/
.env
*.sqlite3
/Backend/media/
/Backend/static/
/Backend/logs/
/Backend/htmlcov/
/Backend/.coverage
/Backend/scripts/
/Backend/locustfile.py
node_modules/
.next/
frontend/.env
frontend/.files/*
frontend/public/
*.zip
.idea/
.vscode/
.DS_Store
/Documents/
