__pycache__/
*.pyc
.venv/
.env
*.sqlite3
/Backend/media/
/Backend/staticfiles/
/Backend/logs/
/Backend/htmlcov/
/Backend/.coverage
/Backend/scripts/
/Backend/locustfile.py
node_modules/
.next/
frontend/.env
frontend/.files/*
frontend/public/
*.zip
.idea/
.vscode/
.DS_Store
/Documents/
/hovuca.org/
/Backend/.test_media/
